@font-face {
 font-family: "vazirMatn";
 src:local("Vazirmatn Regular"),
 url("./assets/fonts/Vazirmatn-Regular.woff2") format("woff2");
 font-weight: 400;
}
*{
  padding: 0;
  margin: 0;
  font-family: "vazirMatn";
}
body{
  width: 1200px;
  margin: auto;
}