.deleteButton{
  position: fixed;
  left: 20px;
  bottom: 30px;

  background: #e84118;
  color: #fff;

  padding: 5px;
  border-radius: 13px;

  font-size: 0.9rem;
  font-weight: 700;

  cursor: pointer;
  user-select: none;

  box-shadow: 0 10px 25px #cc2e2e2f;
  transition: all 0.5s ease-in;
}

  
 