.header{
    width: 100%;
    margin: 5px 0;
}
.header h1{ 
    color: #00a8ff;
    text-align: center;
}
.container{
    width: 100%;
    height: 150px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px -2px hsla(221, 15%, 25%, 0.157);
    margin: 5px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.inputsContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;


}
.inputsContainer input{
    width: 220px;
    padding: 3px;
    border: none;
    outline: none;
    border-radius: 5px;
     box-shadow: 0px 0px 10px -2px hsla(220, 13%, 32%, 0.157);
}
.container button{
    margin: auto;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-weight: 700;
    cursor: pointer;
    background-color: #2ecc71;
    color: #ffffff;
}