.showContacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -2px hsla(220, 13%, 32%, 0.157);
}
.contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.contactInfo h3 {
  font-size: 1.3rem;
  font-weight: 700;
}
.contactInfo h4 {
  font-size: 0.8rem;
  font-weight: 300;
  color: gray;
}
.contactPhone {
  width: 50%;
}
.contactButtons {
  width: 50%;
}
.contactButtons button {
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  color: #ffffff;
  margin: 0 5px;
  font-weight: 500;
}

.editButton {
  background-color: #2ecc71;
}
.deleteButton {
  background-color: #e74c3c;
}
.editButton:hover {
  transition: all 0.5s ease-in;
  background-color: #27ae60;
}
.deleteButton:hover {
  transition: all 0.3s ease-in;
  background-color: #c0392b;
}
.selectButton {
  background-color: #ffffff;
}


.conteinerButton{
  display: flex;
  align-items: center;
  gap: 5px;
}